
:root{

    --naranja:#ffb05c;
    --naranja-oscuro:#f09140;
    --color-piel:#fedd9a;
    --blanco-hueso:#faecc9;
    --blanco:#f9f0e9;
    --violeta-azulado:#99bdff;
    --blanco-blanco:#f7fcfa;
    --negro-normal:#0000009c;
    --negro-transparente:#00000061;
    --negro:black;

    --negro-titulo:#343a40;
    --gris-letra-pequenia:#868e96;
}

*{
    box-sizing: border-box;
}

body{
   height: 100vh;
   /* height: fit-content; */
   /* MIN-height: 100vh; */


   margin: 0px; 
   display: flex;
   flex-direction: column;
}

html{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.canvas-blanco{
    padding:2rem;
    height: 100%;
    width: 100%;
    background-color: var(--blanco-blanco);
    position: relative;
}

.main{
    background-color: var(--color-piel);
    height: 100%;
    width: 100%;
    padding: 6rem;
    display: flex;
}

.sidebar{
    display:block;
    background-color: var(--naranja);
    border:0.3rem solid var(--naranja-oscuro);
    height: 100%;
    width: 40rem;
}

.contenedor-img-retrato{
    text-align: center;
    margin-top: 5rem;
}

.img-retrato{
    height: 22rem;
    width: 22rem;
    border-radius: 50%;
    BORDER: 10PX SOLID #e9e9e938;
}

.menu{
    list-style: none;
    padding: 0rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color:var(--negro-transparente);
    margin-top: 4.5REM;
}

.menu>li{
    margin-bottom: 1.7rem;
    transition: color 0.2s;
    
    /* cursor:pointer; */
}

.menu>li>a{
    color:var(--negro-transparente);
    text-decoration: none;
    font-family: 'open sans';
   
}
.menu>li>a:hover{
    color:var(--negro-normal);
   
}

.seleccionado>a{
    color:#49433a !important;
}

.seccion{
    flex: 1;
    min-height: 100%;
    padding: 5rem;
}

.main-right{
    flex: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* width */
.main-right::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.main-right::-webkit-scrollbar-track {
background: var(--blanco-hueso);
}

/* Handle */
.main-right::-webkit-scrollbar-thumb {
    background: var(--naranja);
}

/* Handle on hover */
.main-right::-webkit-scrollbar-thumb:hover {
    background: var(--naranja-oscuro);
}

.nombre-grande{
    font-family:'Saira Extra Condensed';
    font-size: 10rem;
    color:var(--negro-titulo);
    line-height: 9rem;
    font-weight: 700;
}

.nombre-medio{
    font-size: 3rem;
    font-family: 'Saira Extra Condensed';
}

.naranja{
    color:var(--naranja);
}

.texto-chico{
    /* MARGIN-BOTTOM: 12REM; */
    font-family: 'Open Sans';
    font-size: 1.6rem;
    margin-top: 4rem;
}

.contacto-redes{
    margin-top: 5rem;
}
.contacto-redes svg{
    height: 5rem;
    margin-right: 1.2rem;
    fill:var(--negro-titulo);
}

.mt-10{
    margin-top: 10%;
}

.titulo-seccion{
    color:var(--negro-titulo);
    font-family: 'Saira Extra Condensed';
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.titulo-experiencia{
    FONT-FAMILY: 'Saira Extra Condensed';
    FONT-SIZE: 3REM;
    font-weight: 700;
    color: var(--negro-titulo);
}

.subtitulo-experiencia{
    FONT-FAMILY: 'Saira Extra Condensed';
    FONT-SIZE: 2.2REM;
    font-weight: 500;
}

.texto-experiencia{
    font-size: 1.7rem;
    font-family: 'Open Sans';
    margin-top: 1.5rem;
}

.experiencia{
    margin-bottom: 5rem;
}


.imagen-proyecto{
    height: 100%;
    width: 100%;
    object-fit: cover;
    BORDER: 3px solid #ffffffa8;
    border-radius: 2px;
    transition:border-color 0.2s, transform 0.2s;
}

.imagen-proyecto:hover{
    transform: scale(1.1);
    border-color:var(--violeta-azulado);
    cursor:pointer;
}

.badge-violeta{

    height: 100px;
    width: 100px;
    /* min-width: 100px; */
    background-color: var(--violeta-azulado);
    border: 3px solid #ffffff85;
    position: absolute;
    right: -10%;
    top: -10%;
    box-shadow: 1px 1px 19px -8px #00000087;
    color: var(--negro-titulo);
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: monospace;
    padding: 0.5rem;
    z-index: 1;
    word-break: break-word;

}

.unidad-proyecto{
    width:33rem;
    /* height: 300px; */
    position: relative;
    background-color: var(--blanco-hueso);
    border: 1px solid #ffffffa8;

    MIN-HEIGHT: 25REM;
    PADDING: 5REM;

    /* width: 29rem;
    PADDING: 2REM; */
}

/* .unidad-proyecto:not(:first-child){
    margin-top: 2rem;
} */

.contenedor-img-proyectos{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    grid-auto-rows: 1fr;
}


.proyectos{
    grid-template-columns: repeat(3,1fr);
    display: grid;
    gap: 4rem;
}

.iconos-herramientas>svg{
    height: 8rem;
    fill:var(--negro-titulo);
}


.backdrop{
    background-color: var(--negro-transparente);
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.modal{
    background-color: var(--negro-transparente);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.cerrar-backdrop{
    position: absolute;
    right: -7px;
    height: 24px;
    width: 24px;
    background-color: red;
    z-index: 3;
    top: -6px;
    color: white;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.block{
    display: block;
}

@media (max-width: 1720px){
    .unidad-proyecto{
        width: 30rem;
        
        MIN-HEIGHT: 20REM;
        PADDING: 2REM;
    }
    .proyectos{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1358px){
    .sidebar{
        width: 29rem;
    }
    .proyectos{
        grid-template-columns: repeat(2,1fr);
    }

    .unidad-proyecto{
        width: 30rem;
        
        MIN-HEIGHT: 20REM;
        PADDING: 2REM;
    }
}


@media (max-width: 1180px){
    
    .img-retrato {
        height: 18rem;
        width: 18rem;
    }
    .sidebar {
        width: 23rem;
    }

    .unidad-proyecto{
        width: 25rem;
        
        MIN-HEIGHT: 20REM;
        PADDING: 2REM;
    }
}

@media (max-width: 1024px){

    .unidad-proyecto {
        width: 100%;
        MIN-HEIGHT: 16REM;
        PADDING: 2REM;
    }

    .titulo-seccion{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .img-retrato{
        height: 50%;
        width: 50%;
    }

    .menu>li {
        margin-bottom: 1rem;
    }

    .titulo-experiencia{
        font-size: 2rem;;
    }

    .subtitulo-experiencia{
        font-size: 1.2rem;;
    }

    .mt-10 {
        margin-top: 5%;
    }

    .nombre-medio {
        font-size: 2rem;
    }

    .nombre-grande {
        font-size: 8rem;
    }

    .seccion{
        /* padding: 4rem; */
        padding: 1REM 4rem;
    }

    .menu {
        font-size: 1.3rem;
    }

    .badge-violeta{
        height: 71px;
        width: 94px;
        font-size: 1rem;
    }

    .proyectos{
        gap: 2rem;
    }
}



@media (max-width: 900px){
    .sidebar{
        width: 25rem;;
    }
    .proyectos{
        grid-template-columns: repeat(1,1fr);
    }
}




@media (max-width: 750px),(max-height: 412px){
    .sidebar{
        display: none;
    }

    .main{
        padding: 2rem;
    }

    .img-retrato{
        height: 50%;
        width: 50%;
    }

    .unidad-proyecto{
        width: 80%;
        /* height: 300px; */
        position: relative;
        background-color: var(--blanco-hueso);
        border: 1px solid #ffffffa8;
        MIN-HEIGHT: 20REM;
        PADDING: 5%;
    
    }

    .badge-violeta{
        right: -20%;

    }

    .seccion{
        padding: 2rem;
    }

    .nombre-grande{
        font-size: 8rem;
        line-height: 0.8;
    }

    .nombre-medio .naranja{
        font-size: 2.5rem;
    }

    .nombre-medio>span{
        display:block;
    }

    .nombre-medio{
        margin-top: 7rem;
        line-height: 1.2;
    }

    .titulo-seccion{
        position: sticky;
        top: -1PX;
        background-color: var(--color-piel);
        z-index: 3;
    }

    
}


.contenedor-modal{
    position: relative;
    height: 90%;
    background-color: black;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
    max-width: 900px;
    top: 50%;
    transform: translateY(-50%);
}

.img{
    HEIGHT: 100%;
    WIDTH: 100%;
    OBJECT-FIT: contain;
}