*{
    box-sizing: border-box;
}

body{
   height: 100vh;
   margin: 0px; 
   display: flex;
   flex-direction: column;
}
.mi_mapa{
   flex: 1;
}

.header{
    padding: 8px;
    background-color: rgb(255, 213, 0);
    color: white;
    display: flex;
    justify-content: space-between;
}

.milabel{
    font-size: 8px;
    color: black;
    background-color: transparent;
}

.mi_boton{
    border-radius: 5px;
    border: 1px solid white;
}