*{
    box-sizing: border-box;
}

body{
   height: 100vh;
   margin: 0px; 
   display: flex;
   flex-direction: column;
}
.mi_mapa{
   flex: 1;
}

.header{
    padding: 8px;
    background-color: rgb(255, 213, 0);
    color: white;
    display: flex;
    justify-content: space-between;
}

.milabel{
    font-size: 8px;
    color: black;
    background-color: transparent;
    POSITION: ABSOLUTE;
    LEFT: -100%;
    TOP: -100%;
    FONT-WEIGHT: 900;
    TEXT-SHADOW: 0 0 2px white;
    TEXT-ALIGN: center;
}

.mi_boton{
    border-radius: 5px;
    border: 1px solid white;
}

.lista_barrios{
    POSITION: ABSOLUTE;
    Z-INDEX: 3000;
    COLOR: WHITE;
    BACKGROUND-COLOR: WHITE;
    COLOR: BLACK;
    MARGIN: 0PX;
    WIDTH: 100%;

    border-radius: 0PX 0PX 8PX 8PX;
    padDING: 3PX;
    BOX-SHADOW: 0PX 2PX 6PX #00000040;
}

.lista_barrios li{
    display: block;
}
.oculto{
    visibility: hidden;
}

.contenedor_lista{
    position: relative;
}