html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

@font-face
		{font-family: 'GothamBlack';
			src: url('GothamBlack.woff') format('woff');

			font-weight: normal;
			font-style: normal;
			
		}
		h1{
			font-family: "GothamBlack";
			
		}



		

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .titulo {font-size: 16px;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    .titulo {font-size: 30px;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .titulo {font-size: 40px;}
    }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    .titulo {font-size: 55px;}
    .parrafo{font-size: 25px;}
  }